@page "/fetchdata"

@using webapp.Data
@inject KaiterraService KaiterraService

<h1>Kaiterra retrieval</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (telemetry == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reading in telemetry)
            {
                <tr>
                    <td>@reading.Param</td>
                    @foreach (var point in reading.Points)
                    {
                        <td>@point.ts @point.value</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private KaiterraTelemetry[] telemetry;

    protected override async Task OnInitializedAsync()
    {
        telemetry = await KaiterraService.GetTelemetry();
    }
}
